*{
	font-family: 'Dancing Script', cursive;
	margin: 0;
	padding: 0;
}

body{
	background:#02010a;
}

header{
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background:#5b7989;
	border-radius: 10px 10px 0 0;

}
header h1{
	display: inline-flex;
	text-align: left;
	color:white;
	text-shadow: 2px 2px #02010a;
	font-size: 2.5em;
	vertical-align: center;
	width: 75%;
	height: 10vh;
	margin-top: 2vh;
	margin-left: 2vh;
}

#menu{
	display:inline-flex;
	float: right;
	width: 275px;
	height: 50px;
	margin-top: 2vh;
	margin-right: 2vw;
	

}

#menu a{
	width: 33.3%;
	color: white;
	font-size: 1.5em;
	vertical-align: bottom;
	padding-top: 10px;
	text-shadow: 0 0 0 black;
	
}

#menu a:hover{
	text-shadow:0 0 2px black;
}

a[href='#']{
	text-decoration: none;
}

#imgCentral{
	width: 100%;
	background:#82c3a6;
}
#imgCentral figure{
	width:80%;
	margin:0px auto;

}

#imgCentral figure img{
	width: 100%;
	margin:20px auto;
	box-shadow: 2px 2px 2px black;
}

#imgSecundarias{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	background:#d5c75f;
	
}

#imgSecundarias figure{

	margin:2vh auto;
	
	text-align: center;
}

#imgSecundarias figure img{
	margin:2vh auto;
}

#img1{
	box-shadow: 3px 3px 2px #82c3a6;
	border:2px solid #82c3a6;
	transform: rotate(0deg);
	transition: transform 1s;
}

#img1:hover{
	transform: rotate(10deg);
}

#img2{
	box-shadow: 3px 3px 2px #82c3a6;
	border:2px solid #82c3a6;
	transform: translate();
	transition: transform 0.5s;
}

#img2:hover{
	transform: translate(20px,-5px);
}

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	background:#c6d5c5;
	border-radius: 0 0 10px 10px;
}

footer section{
	width: 25%;
	
	padding: 4vh;
	line-height: 1.5em;
}

footer section h2{
	margin-bottom: 1vh;
}

footer ul li{
	list-style: none;
}

#terminos p{
	width: 80%;
	height: 80%;
	margin:auto;
	text-align: center;
	line-height: 2em;
	
}

#redes img{
	width:25px;
	margin-right: 10px;
}

@media (min-width: 900px) {
	#contenedor{
		width: 900px;
		margin: 0 auto;
	}

	#imgSecundarias figure{
		width:50%;
		margin:20px auto;
		

	}

	#imgSecundarias figure img{
		width:80%;
		
	}

	#imgSecundarias figure figcaption{
		width: 33.3%;
		margin:0 auto;
		
		
		
	}

	#imgSecundarias figure figcaption a{
		font-size: 1.2em;
	}
}

@media (max-width: 899px) {

	header{
		flex-wrap: wrap;
	}

	header h1{
		
		margin:2vh auto;
	}

	#menu{
		margin: 1vh auto;
	}

	#imgSecundarias{
		flex-wrap: wrap;
	}

	#imgSecundarias figure{
		width: 100%;
		margin: 20px auto;
	}

	#imgSecundarias figure img{
		width:80%;
	}

	footer{
		flex-wrap: wrap;
	}

	footer section{
		width:100%;
	}

	footer section *{
		text-align: left;
	}

	#terminos p{
		text-align: left;
		margin-left: 0px;
		
	}
}